@font-face {
    font-family: um;
    src: url(../../assets/fonts/SourceSans3-Regular.ttf);
}
@font-face {
    font-family: dois;
    src: url(../../assets/fonts/SourceSans3-Bold.ttf);
}


.page-adm{
    display: flex;
    margin: 0px;
    box-sizing: border-box;

    font-family: 'um';
    color:#000000;

    .delete{
        cursor: pointer;
    }
    .alterar{
        cursor: pointer;
    }
    .alterar:hover{
        width: 27px;
        height: 27px;
        margin: 0px;
    }
    .delete:hover{
        width: 26px;
        height: 26px;
        margin: 0px;
    }
    .seila {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .container {
        flex-grow: 1;
    }

    .conteudo{
        min-width: 75vw;
        min-height: 89%;
        padding: 4.7em 0em;

        display: flex;

        justify-content: center;
        
    }


    .areacard{
        display: flex;
        flex-direction: row;
         
    }

    .espaçocards{
        margin-right: 20px;
        margin-top: 30px;
    }
    
    .agrupar2cards{
        display: flex;
        flex-direction: row; 
        justify-content:flex-start;
        flex-wrap: wrap;
    }
    
    .Card{
        background: #5D5F5D;
        color: #fff;
        font-family: um;
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    
        width: 25em;
        height: 11em;
        
        
        margin-left: 3vh;
        margin-top: 3.5em;
        padding: 2em;
    }
    .Card:hover{
        background: #535553;

        transition: 0.1s;

        justify-content: center;
        align-items: center;
        
    }
    
    .aling1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .alturaxpeso{
        display: flex;
        flex-direction: row;
    }
    .peso{
        margin-left: 1em;
    }
    
    .agrup2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        align-items: flex-end;
    }
    .icons{
        display: flex;
        flex-direction: row;
    }
    
    .f{
        width: 1em;
        height: 1em;
    }
    
    .p{
        color: #ADFDB4;
    } 
}
